<section class="about-us" id="about-us">
    <div class="container about-us-container">

        <picture class="about-us-img-container">
            <source srcset="/img/about-us-img/about-us-team-desk.jpg 1x, /img/about-us-img/about-us-team-desk@2x.jpg 2x"
                media="(min-width: 1440px)">
            <source srcset="/img/about-us-img/about-us-team-tab.jpg 1x, /img/about-us-img/about-us-team-tab@2x.jpg 2x"
                media="(min-width: 768px) and (max-width: 1439px)">
            <source
                srcset="/img/about-us-img/about-us-team-mobile.jpg 1x, /img/about-us-img/about-us-team-mobile@2x.jpg 2x"
                media="(max-width: 767px)">
            <img src="/img/about-us-img/about-us-team-desk.jpg" alt="photo-our-team">
        </picture>


        <div class="about-us-content">
            <svg class="about-us-logo">
                <use href="/img/about-us-img/about-us.svg#icon-logo"></use>
            </svg>
            <h2 class="about-us-title">About ArtistsHub</h2>
            <p class="about-us-text">
                At ArtistsHub, our mission is to connect music lovers with the artists they adore. We strive to
                create a
                vibrant
                community where discovering new music is as enjoyable as listening to it.
            </p>
        </div>

    </div>
</section>