<!-- ====== СЕКЦИЯ С АРТИСТАМИ ====== -->
<section id="artists" class="artists-block">
  <div class="wrap-artists">
    <!-- Главный заголовок -->
    <h2 class="heading-main">Artists</h2>
    <!-- Подзаголовок -->
    <h3 class="heading-sub">Find Your Next Favorite Artist</h3>

    <!-- Список карточек артистов -->
    <ul class="artist-cards" id="artist-cards"></ul>

    <!-- Кнопка загрузки дополнительных карточек -->
    <button class="btn-more is-hidden">
      More
      <svg
        class="icon-arrow"
        width="22"
        height="22"
        viewBox="0 0 24 25"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        focusable="false"
      >
        <path
          d="M18.707 13.6006L17.293 12.1866L13 16.4796V6.89355H11V16.4796L6.70697 12.1866L5.29297 13.6006L12 20.3076L18.707 13.6006Z"
          fill="currentColor"
        />
      </svg>
    </button>
  </div>
</section>

<!-- ====== ЛОАДЕР ПРИ ЗАГРУЗКЕ ====== -->
<div class="preloader-box is-hidden">
  <span class="spinner"></span>
</div>
