<section class="feedback-section">
  <div class="container">
    <div class="swiper mySwiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <h1>
            "ArtistsHub has transformed the way I discover new music. It's like
            having a personal DJ that knows my taste perfectly!"
          </h1>
          <p>Emily Johnson</p>
        </li>
      </ul>

      <button type="button" class="swiper-button-next button-right">
        <svg class="button-svg">
          <use href="../img/feedbacks/image.svg#icon-icon1"></use>
        </svg>
      </button>
      <button type="button" class="swiper-button-prev button-left">
        <svg class="button-svg">
          <use href="../img/feedbacks/image.svg#icon-icon"></use>
        </svg>
      </button>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
