<section class="feedback-section">
  <div class="container">
    <div class="swiper mySwiper">
      <ul class="swiper-wrapper"></ul>

      <button type="button" class="swiper-button-next button-right">
        <svg class="button-svg">
          <use href="../img/feedbacks/image.svg#icon-icon1"></use>
        </svg>
      </button>
      <button type="button" class="swiper-button-prev button-left">
        <svg class="button-svg">
          <use href="../img/feedbacks/image.svg#icon-icon"></use>
        </svg>
      </button>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
