<footer class="footer">
  <div class="container container-footer">
    <!-- Лого -->
    <a
      href="index.html"
      class="footer-logo"
      aria-label="ArtistsHub - Go to homepage"
    >
      <svg class="icon-logo">
        <use href="img/logo.svg"></use>
      </svg>
    </a>

    <!-- Навігація -->
    <ul class="footer-nav-list">
      <li><a href="#artists">Artists</a></li>
      <li><a href="#about">About us</a></li>
      <li><a href="#reviews">Reviews</a></li>
    </ul>

    <!-- Соцмережі + копірайт -->
    <ul class="footer-right">
      <li class="copyright">© 2025 ArtistsHub, All rights reserved.</li>
      <li>
        <ul class="socials-list">
          <li>
            <a href="#" aria-label="Youtube">
              <svg width="24" height="24">
                <use href="img/sprite.svg#icon-Youtube"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" aria-label="Facebook">
              <svg width="24" height="24">
                <use href="img/sprite.svg#icon-Facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" aria-label="Instagram">
              <svg width="24" height="24">
                <use href="img/sprite.svg#icon-Instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <!-- ДОДАНО: закриваючий тег для li -->
    </ul>
    <!-- ДОДАНО: закриваючий тег для ul.footer-right -->
  </div>
</footer>
