<header class="page-header">
  <div class="container header-container">
    <div class="header-logo-section">
      <img class="logo" src="img/main-header-logo.svg" alt="ArtistsHub">
    </div>
    <nav class="header-nav">
      <ul>
        <li><a href="#artists" class="nav-link">Artists</a></li>
        <li><a href="#aboutUs" class="nav-link">About Us</a></li>
        <li><a href="#reviews" class="nav-link">Reviews</a></li>
      </ul>
    </nav>
    <button class="mob-menu-btn" type="button" data-menu-open>
      <svg class="menu-open-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4 6H20V8H4V6ZM8 11H20V13H8V11ZM13 16H20V18H13V16Z" fill="white" />
      </svg>
    </button>
  </div>
</header>