<header class="page-header">
  <div class="container">
<div class="header-nav-section">
        <svg class="logo" width="119" height="51">
          <use href="../img/sprite.svg#icon-Content"></use>
        </svg>
      
    <nav class="header-nav">
      
        <button class="burger-btn" type="button" data-menu-open>
          <svg class="burger-icon" width="48" height="48">
            <use href="../img/sprite.svg#icon-Icon"></use>
          </svg>
        </button>
        <ul class="nav-list">
          
          <li><a href="#artists" class="nav-link">Artists</a></li>
          <li><a href="#aboutUs" class="nav-link">About Us</a></li>
          <li><a href="#reviews" class="nav-link">Reviews</a></li>
        </ul>
      </div>
     </div>
    
    </nav>
    <!--Mobile menu-->
    <div class="mob-menu">
      <div class="mob-menu-container">
        <div class="mob-menu-top">
          <button class="mob-menu-btn" type="button" data-menu-close>
           <svg class="menu-close-icon" width="24" height="24">
             <use href="../img/sprite.svg#icon-cross"></use>
           </svg>
          </button>
          <div class="header-logo-section">
            <svg class="logo" width="119" height="51">
              <use href="../img/sprite.svg#icon-Content"></use>
            </svg>
          </div>
          
        </div>
        <nav class="mob-menu-nav">
          <ul>
            <li><a href="#artists" class="nav-link">Artists</a></li>
            <li><a href="#aboutUs" class="nav-link">About Us</a></li>
            <li><a href="#reviews" class="nav-link">Reviews</a></li>
          </ul>
        </nav>
        
      </div>
    </div>
  </div>
</header>
