<div class="mob-menu">
    <div class="mob-menu-container">
        <div class="mob-menu-top">
            <button class="mob-menu-btn" type="button" data-menu-close>
                <svg class="menu-close-icon" width="24" height="24">
                    <use href="../img/sprite.svg#icon-cross"></use>
                </svg>
            </button>
            <div class="header-logo-section">
                <img class="logo" src="../img/main-header-logo.svg" alt="ArtistsHub">
            </div>

        </div>
        <nav class="mob-menu-nav">
            <ul>
                <li><a href="#artists" class="nav-link">Artists</a></li>
                <li><a href="#aboutUs" class="nav-link">About Us</a></li>
                <li><a href="#reviews" class="nav-link">Reviews</a></li>
            </ul>
        </nav>
    </div>
</div>