.feedback-section {
    padding: 64px 0;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: none !important;
}
.button-left,
.button-right{
    display: none !important;
}


.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px !important;
    overflow: hidden;
    
}

.swiper-pagination-bullet {
    background-color: #ffffff !important;
}


.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
    max-width: 288px;
    height: 209px !important;
}

.swiper-slide-active {
    visibility: visible !important;
    opacity: 1 !important;
}

.swiper-slide h1 {
        font-weight: 700;
        font-size: 18px;
        line-height: 140%;
        letter-spacing: -0.01em;
        text-align: center;
        margin-bottom: 32px;
}


.swiper-pagination {
    bottom: 5px !important;

}


@media screen and (min-width:320px){
    .feedback-section {
            padding: 64px 0;
        }
    
        .swiper-button-next::after,
        .swiper-button-prev::after {
            content: none !important;
        }
    
        .button-left,
        .button-right {
            display: none !important;
        }
    
    
        .swiper {
            width: 100%;
            height: 100%;
            margin-left: auto;
            margin-right: auto;
            padding: 10px !important;
            overflow: hidden;
    
        }
    
        .swiper-pagination-bullet {
            background-color: #ffffff !important;
        }
    
    
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: transparent;
            display: flex !important;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            visibility: hidden;
            max-width: 288px;
            height: 209px !important;
        }
    
        .swiper-slide-active {
            visibility: visible !important;
            opacity: 1 !important;
        }
    
        .swiper-slide h1 {
            font-weight: 700;
            font-size: 18px;
            line-height: 140%;
            letter-spacing: -0.01em;
            text-align: center;
            margin-bottom: 32px;
        }
    
    
        .swiper-pagination {
            bottom: 5px !important;
    
        }
    }
    
   

@media screen and (min-width:738px){

                .feedback-section {
                    padding: 112px 0;
                }
        
        
                .swiper {
                    width: 100%;
                    height: 100%;
                    margin-left: auto;
                    margin-right: auto;
                    padding: 75px !important;
                }
        
                .swiper-pagination-bullet {
                    background-color: #ffffff !important;
                }
        
        
                .swiper-slide {
                    text-align: center;
                    font-size: 18px;
                    background: transparent;
                    display: flex !important;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                }
        
                .swiper-slide h1 {
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 130%;
                    letter-spacing: -0.01em;
                    text-align: center;
                    max-width: 866px;
                    margin-bottom: 32px;
                }
        
                .swiper-button-next,
                .swiper-button-prev {
                    all: unset;
                    border: 1px solid rgb(148, 147, 147);
                    border-radius: 8px;
                    padding: 20px;
                    width: 12px !important;
                    height: 12px !important;
                    margin-bottom: 75px;
                    margin-top: calc(-63px - (var(--swiper-navigation-size) /2)) !important;
                }
        
                .swiper-button-next::after,
                .swiper-button-prev::after {
                    content: none !important;
                }
        
                .swiper-pagination {
                    bottom: 5px !important;
        
                }
}

@media (min-width: 1440px){
    .feedback-section {
            padding: 112px 0;
        }
    
    
        .swiper {
            width: 100%;
            height: 100%;
            margin-left: auto;
            margin-right: auto;
            padding: 75px !important;
        }
    
        .swiper-pagination-bullet {
            background-color: #ffffff !important;
        }
    
    
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: transparent;
            display: flex !important;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    
        .swiper-slide h1 {
            font-weight: 700;
            font-size: 32px;
            line-height: 130%;
            letter-spacing: -0.01em;
            text-align: center;
            max-width: 866px;
            margin-bottom: 32px;
        }
    
        .swiper-button-next,
        .swiper-button-prev {
            all: unset;
            border: 1px solid rgb(148, 147, 147);
            border-radius: 8px;
            padding: 20px;
            width: 12px !important;
            height: 12px !important;
            margin-bottom: 75px;
            margin-top: calc(-63px - (var(--swiper-navigation-size) /2)) !important;
        }
    
        .swiper-button-next::after,
        .swiper-button-prev::after {
            content: none !important;
        }
    
        .swiper-pagination {
            bottom: 5px !important;
    
        }
}

