.footer {
}
.footer-content {
}
.footer-logo {
  width: 116px;
  height: 45px;
  display: flex;
  justify-content: center;
}
.icon-logo {
  width: 116px;
  height: 45px;
  display: flex;
  justify-content: center;
}
.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer-nav-list {
  font-family: 'Montserrat', sans-serif; /* Назва шрифту з Figma */
  font-weight: 600; /* Бо "Semi Bold" */
  font-size: 16px; /* Бо "Small" (уточни розмір!) */
  line-height: 1.5; /* Бо 150% */
  color: #762b2b; /* HEX-код з палітри */
}
.footer-socials {
  display: flex;
  justify-content: space-between; /* розтягує елементи по краях */
  align-items: center; /* вирівнює по вертикалі по центру */
  padding: 20px;
}
.footer-copyright {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-scheme-1-text);
}
.socials-list {
}
.socials-item {
}
.social-link {
}
