.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
}

.footer-logo {
  margin-bottom: 0;
}

.icon-logo {
  width: 116px;
  height: 45px;
  margin-bottom: 32px;
}
.footer-nav-list {
  display: flex;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin-bottom: 80px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}

.footer-nav-list li {
  text-align: center;
  transition: color 0.2s;
}

.footer-nav-list li:hover {
  color: #764191;
}

.footer-right {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 24px;
}
.copyright {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}
.socials-list {
  display: flex;
  gap: 32px;
  list-style: none;
  padding: 0;
  margin: 0;
  fill: #fff;
}

.footer-icon-svg {
  transition: opacity 0.2s;
}

.footer-icon-svg:hover {
 opacity: 0.6;
}

/* Потім телефон */
@media (max-width: 768px) {
  .footer-nav-list {
    flex-direction: column;
    margin-bottom: 48px;
  }

  .footer-right {
    flex-direction: column-reverse;
  }

  .socials-list {
    margin-bottom: 32px;
    justify-content: center;
  }

  .copyright {
    text-align: center;
  }

  .container-footer {
    padding: 48px 0;
  }
}
