.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-logo {
}
.icon-logo {
  width: 116px;
  height: 45px;
  margin-bottom: 32px;
}
.footer-nav-list {
  display: flex;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin-bottom: 80px;
}
.footer-right {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 32px;
}
.copyright {
  margin-bottom: 80px;
}
.socials-list {
  display: flex;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
  fill: #fff;
  margin-bottom: 80px;
}
