
.page-header{
    position: fixed;
    top: 0;
        left: 0;
        width: 100%;
        height: 64px;
        z-index: 1000;
        background-color: inherit;
}

.header-nav-section{
    background-color: black;
    min-width: 360px;
    display: flex;
        flex-direction: row-reverse;
        padding: 0px 12px 0px 20px;
}


.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 15px 0;
}
.burger-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
.nav-list {
    display: none;
}
.header-logo-section {
    position: absolute;
    left: 20%;
    transform: translateX(-50%);
    padding: 0 16px;
}
.header-link-section {
    margin-left: auto;
}

.logo{
    fill: #fff;
}

   

.mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #f2fafa;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    overflow-y: auto;
}

.burger-icon{
fill: #fff;
}

.mob-menu.is-open {
    transform: translateX(0);
    background: #060307;
}
.menu-close-icon{
    fill:#fff;
}

.mob-menu-container {
    padding: 15px 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.mob-menu-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    flex-direction: row-reverse;
}


.mob-menu-btn {
    background: none;
    border: none;
    padding: 0;
    fill: #fff;
    margin-right: 12px;
}

.mob-menu-nav {
    margin-top: 40px;
    flex-grow: 1;
}

.mob-menu-nav ul {
    list-style: none;
        display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 40px;
}

.mob-menu-nav li {
    margin-bottom: 32px;
}

.mob-menu-nav a {
    font-family: "IBM Plex Sans", sans-serif;
        font-weight: 500;
        font-size: 26px;
        line-height: 150%;
        color: #fff;
}





.logo:focus svg{

    color: #764191;
}
/* Tablet */
@media (min-width: 768px) {
    .header-nav-section {
        min-width: 768px;
        padding: 0 64px;
            height: 51px;
    }

    .page-header{
        height: 72px;
    }
    
    .nav-list{
        display: flex;
                align-items: center;
                gap: 32px;
    }
    .mob-menu-bottom {
        margin-right: auto;
        padding: 20px 0;
        text-align: center;
    }

   .burger-btn{
display: none;
   }
}

/* Desktop */

@media (min-width: 1440px) {
    .header-nav-section {
        min-width: 1440px;
        padding: 0 64px;
    }

    .burger-btn {
        display: none;
    }

   
    .nav-link {
        font-family: "IBM Plex Sans", sans-serif;
            font-weight: 400;
            font-size: 18px;
        
            line-height: 150%;
            color: #fff;
        padding: 8px 0;
        position: relative;
    }

    .nav-link.current::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-bottom: 2px solid #0D0B0A;
    }

    .mob-menu {
        display: none;
    }
}
