.page-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #000000;
    z-index: 999;
}

.page-header::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 60px;

    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 1),
            transparent);
    pointer-events: none;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-logo-section .logo {
    cursor: pointer;

    width: 106px;
    height: 30px;
}

.header-nav ul {
    display: none;
    list-style: none;
    gap: 32px;
}

.header-nav a {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.menu-open-icon {
    fill: #fff;
}


/* Показывать навигацию на десктопе */
@media (min-width: 768px) {
    .header-nav ul {
        display: flex;
    }

    .mob-menu-btn {
        display: none;
    }
}

.nav-link:hover {
    transition: color 0.2s;
}
.nav-link:hover {
    color: #764191;
}